		body{
			background-color: #DEB887;
			font-size: 180%;
		}

		h1{
			text-align: center;
			
		}
		
				.fixo{
					position: fixed;
					z-index: 1030;
					top: 0;   
					right: 0;
					left: 0;
				}
		

		.main{
			margin-top: 20%;
		}
		.imglogo{
					width: 35%;

				}
				.imgtexto{
					width: 80%;
					border: 4px solid;
					border-color: #401f0a;
					box-shadow: 20px 20px 5px grey;

				}

				.imgtexto:hover{
					box-shadow: 40px 40px 5px black;
					width: 90%;
					transition: 2s;
				}


				@media screen and (max-width: 600px) {
				.container{
					margin-top: 55%;
					}
					header{
						background-color: rgb(151,56,11);
					}
					.imglogo{
						margin-right: auto;
						margin-left: auto;
					}
									}
				@media screen and (min-width: 600px) {
				.container{
					margin-top: 45%;
					}
					header{
						background-color: rgb(151,56,11);
					}
					.imglogo{
						margin-right: auto;
						margin-left: auto;
					}
				}
				@media screen and (min-width: 768px) {
				.container{
					margin-top: 20%;
					}
					header{
						background-color: rgba(151,56,11);
						flex-direction: row;
						position: relative;
					}

					.menu_opcoes{
						position: absolute;
						right: 5%;
						top: 45%;

					}

					.menu_opcoes ul li{
						display: inline;
						margin-left: 10px;
					}
					.imglogo{
						margin-left: 5%;
					}
				
				}


				.container{

					width: 80%;
					margin-left: auto;
					margin-right: auto;
					position: relative;
				}

				.topoesquerda{
				position: absolute;
				top: 56px;
				left: 10px;
				font-size: 18px;
				width: 20%;
				color: #fff;
				
			}

			.topodireita{
				position: absolute;
				top: 56px;
				right: 16px;
				font-size: 18px;
				width: 20%;
				color: #fff;
				
			}

			.abaixoesquerda{
				position: absolute;
				bottom: 56px;
				left: 16px;
				font-size: 18px;
				width: 20%;
				color: #fff;
				
			}

			.abaixodireita{
				position: absolute;
				bottom: 56px;
				right: 16px;
				font-size: 18px;
				width: 20%;
				color: #fff;
			}
				

			.centro{
				position: absolute;
				top: 50%;
				margin-left: 40%;
				font-size: 18px;
				width: 20%;
				color: #fff;
				
			}

				
				.listas_menu a{
					font-size: 1em;
					color: white;
					font-family: "Verdana", Sans-serif;
					text-decoration: none;
				}

				.listas_menu a:hover{
					background-color: #666;
					color: black;
					text-decoration: underline;

				}


				header, footer{
					padding: 1%;
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					font-size: 0.6em;
					line-height: 1.5;
					font-family: "Lucida Handwriting", cursive;
					font-weight: bold;

				}
				
				footer{
					background-color: rgb(151,56,11);
					text-align: center;
					padding: 3%;
					font-size: 1.5em;
					font-weight: bold;
				}
				.link{
					font-family: 'Dancing Script', cursive;
					text-decoration: none;
					font-weight: normal;
				}
				
			
		img{
			top: 16px;
			left: 16px;
			text-align: center;
			width: 100%;
			right: 1220px;
			border: 4px solid;
			border-color: #401f0a;
			box-shadow: 10px 10px 5px grey;

			}

			img:hover{
				box-shadow: 10px 10px 5px black;
				transition: 1.5s;
			}

		header{
			width: 100%;
			text-align: center;
			color:#401f0a;
			font-family: "Lucida Handwriting", cursive;
			background-color:#6a4025;
			font-style: italic;
			text-shadow: 5px 5px 8px #000;
			font-size: 1.5em;
		}
		h2{
			color: #fff;
			background-color:#6a4025;
			text-align: center;
			font-style: italic;
			text-shadow: 5px 5px 8px #000;
			font-size: 1.2em;
			animation-duration: 4s;
  			animation-name: titulo;
			animation-iteration-count: infinite;
			}

			@keyframes titulo {
			  from { font-size: 1.2em;}
			  to{font-size: 1.3em;}	
			  from{box-shadow: 0px 0px 0px #DEB887;}
			  to{box-shadow: 10px 10px 5px black;}	

			
		}

		p {
			font-size: 0.8em;
			background-color: #be9663;
			color:#401f0a;
			font-family: 'Dancing Script', cursive;
			margin-top: 2%;
			margin-bottom: 2%;
			border: 4px solid;
			border-color: #401f0a;
			box-shadow: 10px 10px 5px grey;

			}

			p:hover{
				box-shadow: 10px 10px 5px black;
				transition: 1.5s;
			}

			.button {
			  display: inline-block;
			  border-radius: 10px;
			  background-color:#6a4025;
			  border: none;
			  color: #FFFFFF;
			  text-align: center;
			  font-size: 20px;
			  padding: 20px;
			  width: 150px;
			  transition: all 0.5s;
			  cursor: pointer;
			  margin: 5px;
			  box-shadow: 0 9px #999;
			}

			.button span {
			  cursor: pointer;
			  display: inline-block;
			  position: relative;
			  transition: 0.5s;
			}

			.button span:after {
			  content: '\00bb';
			  position: absolute;
			  opacity: 0;
			  top: 0;
			  right: -20px;
			  transition: 0.5s;
			}

			.button:hover span {
			  padding-right: 25px;
			}

			.button:hover span:after {
			  opacity: 1;
			  right: 0;
			}

			.button:hover {
				background-color: #000;

			}

			.button:active {
			  box-shadow: 0 5px #666;
			  transform: translateY(4px);
			}