				body{
				background-color: #DEB887;
			
				color:#fff;
				font-size: 220%;
				font-family: "Lucida Console", monospace;

			}

			.container{

				width: 80%;
				margin-left: auto;
				margin-right: auto;


			}


			header, footer{
				width: 100%;
				background-color: rgba(151,56,11,0.7);
				padding: 20px;
				text-align: center;
				color:#401f0a;
				font-family: "Lucida Handwriting", cursive;


			}



			h1,h2{
				background-color:#6a4025;
				text-align: center;
				font-style: italic;
				text-shadow: 5px 5px 8px #000;
		 		
				

			}

			ul,ol,li,p{ font-size: 30px;
				 border: 4px solid;
		         border-radius: 15px;
				 color:#401f0a;
				 font-family: "Lucida Handwriting", cursive;
				 margin-top: 2%;
				 margin-bottom: 2%;

			}

			.centro{
				text-align: center;
				color:#553c18;
				border: 4px solid;
		        border-radius: 15px;
		        border-color: rgba(151,56,11,0.7);
		        font-family: "Brush Script MT",cursive;

			}


			figure{

				text-align:center;
				
				
			}
			img{
				width: 80%;
				border: 4px solid;
				border-color: #401f0a;
			}
			a:link {
			  color: #ad4906;
			  background-color: transparent;
			  text-decoration: underline;
			}

			a:visited {
			  color: #ac6f9a;
			  background-color: transparent;
			  text-decoration: none;
			}

			a:hover {
			  color: red;
			  background-color: transparent;
			  text-decoration: underline;
			}

			a:active {
			  color: yellow;
			  background-color: transparent;
			  text-decoration: underline;
			}

			table {
				border-collapse: collapse;
				width: 80%;
			}

			th,td,tr {
				border: 4px solid;
			    color:#401f0a;
			    text-align: center;
			    padding: 5px;
			    font-family: "Lucida Handwriting", cursive;

			}
			tr:nth-child(even) {
 			 background-color: #878482;
 			}